<!DOCTYPE html>
<html>
<head>
    <title>Freshers Career</title>
</head>
<body>
    <h1>Fresher's Career</h1>
    <img src="static/Banner.jpg" alt="Banner" height="300" width="900">
  <h2>About Fresher Career </h2>
  <p>Freshers Career is here to help new graduates confidently kickstart their careers. We provide essential resources, from resume tips to interview advice, to guide you through your first professional steps. Our mission is simple: to support you in finding a path that fits your strengths and ambitions. Join us as you take the first steps toward a successful future!</p>
  <h2>Open Positions</h2>
  <p>ToDo -Show the Jobs here</p>
  <button>Contact Us</button>
</body>
</html>
